@import "./open-color.css";
.oc-white,
.oc-white > strong {
  color: var(--oc-white) !important;
}

.oc-black,
.oc-black > strong {
  color: var(--oc-black) !important;
}

.oc-gray-0,
.oc-gray-0 > strong {
  color: var(--oc-gray-0) !important;
}
.oc-gray-1,
.oc-gray-1 > strong {
  color: var(--oc-gray-1) !important;
}
.oc-gray-2,
.oc-gray-2 > strong {
  color: var(--oc-gray-2) !important;
}
.oc-gray-3,
.oc-gray-3 > strong {
  color: var(--oc-gray-3) !important;
}
.oc-gray-4,
.oc-gray-4 > strong {
  color: var(--oc-gray-4) !important;
}
.oc-gray-5,
.oc-gray-5 > strong {
  color: var(--oc-gray-5) !important;
}
.oc-gray-6,
.oc-gray-6 > strong {
  color: var(--oc-gray-6) !important;
}
.oc-gray-7,
.oc-gray-7 > strong {
  color: var(--oc-gray-7) !important;
}
.oc-gray-8,
.oc-gray-8 > strong {
  color: var(--oc-gray-8) !important;
}
.oc-gray-9,
.oc-gray-9 > strong {
  color: var(--oc-gray-9) !important;
}
/*  Red
*  ─────────────────────────────────── */
.oc-red-0,
.oc-red-0 > strong {
  color: var(--oc-red-0) !important;
}
.oc-red-1,
.oc-red-1 > strong {
  color: var(--oc-red-1) !important;
}
.oc-red-2,
.oc-red-2 > strong {
  color: var(--oc-red-2) !important;
}
.oc-red-3,
.oc-red-3 > strong {
  color: var(--oc-red-3) !important;
}
.oc-red-4,
.oc-red-4 > strong {
  color: var(--oc-red-4) !important;
}
.oc-red-5,
.oc-red-5 > strong {
  color: var(--oc-red-5) !important;
}
.oc-red-6,
.oc-red-6 > strong {
  color: var(--oc-red-6) !important;
}
.oc-red-7,
.oc-red-7 > strong {
  color: var(--oc-red-7) !important;
}
.oc-red-8,
.oc-red-8 > strong {
  color: var(--oc-red-8) !important;
}
.oc-red-9,
.oc-red-9 > strong {
  color: var(--oc-red-9) !important;
}
/*  Pink
*  ─────────────────────────────────── */
.oc-pink-0,
.oc-pink-0 > strong {
  color: var(--oc-pink-0) !important;
}
.oc-pink-1,
.oc-pink-1 > strong {
  color: var(--oc-pink-1) !important;
}
.oc-pink-2,
.oc-pink-2 > strong {
  color: var(--oc-pink-2) !important;
}
.oc-pink-3,
.oc-pink-3 > strong {
  color: var(--oc-pink-3) !important;
}
.oc-pink-4,
.oc-pink-4 > strong {
  color: var(--oc-pink-4) !important;
}
.oc-pink-5,
.oc-pink-5 > strong {
  color: var(--oc-pink-5) !important;
}
.oc-pink-6,
.oc-pink-6 > strong {
  color: var(--oc-pink-6) !important;
}
.oc-pink-7,
.oc-pink-7 > strong {
  color: var(--oc-pink-7) !important;
}
.oc-pink-8,
.oc-pink-8 > strong {
  color: var(--oc-pink-8) !important;
}
.oc-pink-9,
.oc-pink-9 > strong {
  color: var(--oc-pink-9) !important;
}
/*  Grape
*  ─────────────────────────────────── */
.oc-grape-0,
.oc-grape-0 > strong {
  color: var(--oc-grape-0) !important;
}
.oc-grape-1,
.oc-grape-1 > strong {
  color: var(--oc-grape-1) !important;
}
.oc-grape-2,
.oc-grape-2 > strong {
  color: var(--oc-grape-2) !important;
}
.oc-grape-3,
.oc-grape-3 > strong {
  color: var(--oc-grape-3) !important;
}
.oc-grape-4,
.oc-grape-4 > strong {
  color: var(--oc-grape-4) !important;
}
.oc-grape-5,
.oc-grape-5 > strong {
  color: var(--oc-grape-5) !important;
}
.oc-grape-6,
.oc-grape-6 > strong {
  color: var(--oc-grape-6) !important;
}
.oc-grape-7,
.oc-grape-7 > strong {
  color: var(--oc-grape-7) !important;
}
.oc-grape-8,
.oc-grape-8 > strong {
  color: var(--oc-grape-8) !important;
}
.oc-grape-9,
.oc-grape-9 > strong {
  color: var(--oc-grape-9) !important;
}
/*  Violet
*  ─────────────────────────────────── */
.oc-violet-0,
.oc-violet-0 > strong {
  color: var(--oc-violet-0) !important;
}
.oc-violet-1,
.oc-violet-1 > strong {
  color: var(--oc-violet-1) !important;
}
.oc-violet-2,
.oc-violet-2 > strong {
  color: var(--oc-violet-2) !important;
}
.oc-violet-3,
.oc-violet-3 > strong {
  color: var(--oc-violet-3) !important;
}
.oc-violet-4,
.oc-violet-4 > strong {
  color: var(--oc-violet-4) !important;
}
.oc-violet-5,
.oc-violet-5 > strong {
  color: var(--oc-violet-5) !important;
}
.oc-violet-6,
.oc-violet-6 > strong {
  color: var(--oc-violet-6) !important;
}
.oc-violet-7,
.oc-violet-7 > strong {
  color: var(--oc-violet-7) !important;
}
.oc-violet-8,
.oc-violet-8 > strong {
  color: var(--oc-violet-8) !important;
}
.oc-violet-9,
.oc-violet-9 > strong {
  color: var(--oc-violet-9) !important;
}
/*  Indigo
*  ─────────────────────────────────── */
.oc-indigo-0,
.oc-indigo-0 > strong {
  color: var(--oc-indigo-0) !important;
}
.oc-indigo-1,
.oc-indigo-1 > strong {
  color: var(--oc-indigo-1) !important;
}
.oc-indigo-2,
.oc-indigo-2 > strong {
  color: var(--oc-indigo-2) !important;
}
.oc-indigo-3,
.oc-indigo-3 > strong {
  color: var(--oc-indigo-3) !important;
}
.oc-indigo-4,
.oc-indigo-4 > strong {
  color: var(--oc-indigo-4) !important;
}
.oc-indigo-5,
.oc-indigo-5 > strong {
  color: var(--oc-indigo-5) !important;
}
.oc-indigo-6,
.oc-indigo-6 > strong {
  color: var(--oc-indigo-6) !important;
}
.oc-indigo-7,
.oc-indigo-7 > strong {
  color: var(--oc-indigo-7) !important;
}
.oc-indigo-8,
.oc-indigo-8 > strong {
  color: var(--oc-indigo-8) !important;
}
.oc-indigo-9,
.oc-indigo-9 > strong {
  color: var(--oc-indigo-9) !important;
}
/*  Blue
*  ─────────────────────────────────── */
.oc-blue-0,
.oc-blue-0 > strong {
  color: var(--oc-blue-0) !important;
}
.oc-blue-1,
.oc-blue-1 > strong {
  color: var(--oc-blue-1) !important;
}
.oc-blue-2,
.oc-blue-2 > strong {
  color: var(--oc-blue-2) !important;
}
.oc-blue-3,
.oc-blue-3 > strong {
  color: var(--oc-blue-3) !important;
}
.oc-blue-4,
.oc-blue-4 > strong {
  color: var(--oc-blue-4) !important;
}
.oc-blue-5,
.oc-blue-5 > strong {
  color: var(--oc-blue-5) !important;
}
.oc-blue-6,
.oc-blue-6 > strong {
  color: var(--oc-blue-6) !important;
}
.oc-blue-7,
.oc-blue-7 > strong {
  color: var(--oc-blue-7) !important;
}
.oc-blue-8,
.oc-blue-8 > strong {
  color: var(--oc-blue-8) !important;
}
.oc-blue-9,
.oc-blue-9 > strong {
  color: var(--oc-blue-9) !important;
}
/*  Cyan
*  ─────────────────────────────────── */
.oc-cyan-0,
.oc-cyan-0 > strong {
  color: var(--oc-cyan-0) !important;
}
.oc-cyan-1,
.oc-cyan-1 > strong {
  color: var(--oc-cyan-1) !important;
}
.oc-cyan-2,
.oc-cyan-2 > strong {
  color: var(--oc-cyan-2) !important;
}
.oc-cyan-3,
.oc-cyan-3 > strong {
  color: var(--oc-cyan-3) !important;
}
.oc-cyan-4,
.oc-cyan-4 > strong {
  color: var(--oc-cyan-4) !important;
}
.oc-cyan-5,
.oc-cyan-5 > strong {
  color: var(--oc-cyan-5) !important;
}
.oc-cyan-6,
.oc-cyan-6 > strong {
  color: var(--oc-cyan-6) !important;
}
.oc-cyan-7,
.oc-cyan-7 > strong {
  color: var(--oc-cyan-7) !important;
}
.oc-cyan-8,
.oc-cyan-8 > strong {
  color: var(--oc-cyan-8) !important;
}
.oc-cyan-9,
.oc-cyan-9 > strong {
  color: var(--oc-cyan-9) !important;
}
/*  Teal
*  ─────────────────────────────────── */
.oc-teal-0,
.oc-teal-0 > strong {
  color: var(--oc-teal-0) !important;
}
.oc-teal-1,
.oc-teal-1 > strong {
  color: var(--oc-teal-1) !important;
}
.oc-teal-2,
.oc-teal-2 > strong {
  color: var(--oc-teal-2) !important;
}
.oc-teal-3,
.oc-teal-3 > strong {
  color: var(--oc-teal-3) !important;
}
.oc-teal-4,
.oc-teal-4 > strong {
  color: var(--oc-teal-4) !important;
}
.oc-teal-5,
.oc-teal-5 > strong {
  color: var(--oc-teal-5) !important;
}
.oc-teal-6,
.oc-teal-6 > strong {
  color: var(--oc-teal-6) !important;
}
.oc-teal-7,
.oc-teal-7 > strong {
  color: var(--oc-teal-7) !important;
}
.oc-teal-8,
.oc-teal-8 > strong {
  color: var(--oc-teal-8) !important;
}
.oc-teal-9,
.oc-teal-9 > strong {
  color: var(--oc-teal-9) !important;
}
/*  Green
*  ─────────────────────────────────── */
.oc-green-0,
.oc-green-0 > strong {
  color: var(--oc-green-0) !important;
}
.oc-green-1,
.oc-green-1 > strong {
  color: var(--oc-green-1) !important;
}
.oc-green-2,
.oc-green-2 > strong {
  color: var(--oc-green-2) !important;
}
.oc-green-3,
.oc-green-3 > strong {
  color: var(--oc-green-3) !important;
}
.oc-green-4,
.oc-green-4 > strong {
  color: var(--oc-green-4) !important;
}
.oc-green-5,
.oc-green-5 > strong {
  color: var(--oc-green-5) !important;
}
.oc-green-6,
.oc-green-6 > strong {
  color: var(--oc-green-6) !important;
}
.oc-green-7,
.oc-green-7 > strong {
  color: var(--oc-green-7) !important;
}
.oc-green-8,
.oc-green-8 > strong {
  color: var(--oc-green-8) !important;
}
.oc-green-9,
.oc-green-9 > strong {
  color: var(--oc-green-9) !important;
}
/*  Lime
*  ─────────────────────────────────── */
.oc-lime-0,
.oc-lime-0 > strong {
  color: var(--oc-lime-0) !important;
}
.oc-lime-1,
.oc-lime-1 > strong {
  color: var(--oc-lime-1) !important;
}
.oc-lime-2,
.oc-lime-2 > strong {
  color: var(--oc-lime-2) !important;
}
.oc-lime-3,
.oc-lime-3 > strong {
  color: var(--oc-lime-3) !important;
}
.oc-lime-4,
.oc-lime-4 > strong {
  color: var(--oc-lime-4) !important;
}
.oc-lime-5,
.oc-lime-5 > strong {
  color: var(--oc-lime-5) !important;
}
.oc-lime-6,
.oc-lime-6 > strong {
  color: var(--oc-lime-6) !important;
}
.oc-lime-7,
.oc-lime-7 > strong {
  color: var(--oc-lime-7) !important;
}
.oc-lime-8,
.oc-lime-8 > strong {
  color: var(--oc-lime-8) !important;
}
.oc-lime-9,
.oc-lime-9 > strong {
  color: var(--oc-lime-9) !important;
}
/*  Yellow
*  ─────────────────────────────────── */
.oc-yellow-0,
.oc-yellow-0 > strong {
  color: var(--oc-yellow-0) !important;
}
.oc-yellow-1,
.oc-yellow-1 > strong {
  color: var(--oc-yellow-1) !important;
}
.oc-yellow-2,
.oc-yellow-2 > strong {
  color: var(--oc-yellow-2) !important;
}
.oc-yellow-3,
.oc-yellow-3 > strong {
  color: var(--oc-yellow-3) !important;
}
.oc-yellow-4,
.oc-yellow-4 > strong {
  color: var(--oc-yellow-4) !important;
}
.oc-yellow-5,
.oc-yellow-5 > strong {
  color: var(--oc-yellow-5) !important;
}
.oc-yellow-6,
.oc-yellow-6 > strong {
  color: var(--oc-yellow-6) !important;
}
.oc-yellow-7,
.oc-yellow-7 > strong {
  color: var(--oc-yellow-7) !important;
}
.oc-yellow-8,
.oc-yellow-8 > strong {
  color: var(--oc-yellow-8) !important;
}
.oc-yellow-9,
.oc-yellow-9 > strong {
  color: var(--oc-yellow-9) !important;
}
/*  Orange
*  ─────────────────────────────────── */
.oc-orange-0,
.oc-orange-0 > strong {
  color: var(--oc-orange-0) !important;
}
.oc-orange-1,
.oc-orange-1 > strong {
  color: var(--oc-orange-1) !important;
}
.oc-orange-2,
.oc-orange-2 > strong {
  color: var(--oc-orange-2) !important;
}
.oc-orange-3,
.oc-orange-3 > strong {
  color: var(--oc-orange-3) !important;
}
.oc-orange-4,
.oc-orange-4 > strong {
  color: var(--oc-orange-4) !important;
}
.oc-orange-5,
.oc-orange-5 > strong {
  color: var(--oc-orange-5) !important;
}
.oc-orange-6,
.oc-orange-6 > strong {
  color: var(--oc-orange-6) !important;
}
.oc-orange-7,
.oc-orange-7 > strong {
  color: var(--oc-orange-7) !important;
}
.oc-orange-8,
.oc-orange-8 > strong {
  color: var(--oc-orange-8) !important;
}
.oc-orange-9,
.oc-orange-9 > strong {
  color: var(--oc-orange-9) !important;
}
